html {
  font-family: Oswald, sans-serif;

}

body {
  background-color: #db0026;
  margin: 0;
  color: white;
}

.logo {
  width: 2rem;
  padding: .25rem;
}

.nav-list a {
  text-decoration: none;
  color: white;

}

header {
  background-color: #db0026;
}

h1 {
  color: white;
}

.subcaption {
  color: white;
}

.card {
  background-color: #e54c67;
  border-color: pink;
  border-style: solid;
  border-radius: 1px;
  padding: .75rem;
}

.btn {
  background-color: #ee8b9d;
  border-radius: 9px;
  color: white;
  border-color: transparent;
}

.btn:hover {
  background-color: #e03351;
  border-color: transparent;
}

.reviews {
  color: white;

}

li a:hover {
  background-color: #ef99a8;
  border-radius: .25rem;
  padding: .25rem;
}

table {
  background: #e54c67;
  color: white;
}

fieldset {
  border-color: white;
}

input {
  border-color: #f76fa5;
}
